body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 480px;
}

/* .display {
    height: 2em;
}

.display p {
    height: 1.5em;
    font-size: 1.5em;
} */

.numbers-div,
.operators-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.numbers-div {
    margin-bottom: 5px;
}

.number-button {
    flex: 1 1 150px;
}

.operator-button {
    flex: 1 1 105px;
}

button {
    width: 100%;
    font-size: 2em;
    padding: 25px;
}